<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target xsi:type="File" name="file" fileName="logs/${shortdate}.log"
            layout="${longdate}|${level}|${logger}|${message}${exception:format=ToString,StackTrace}" />
  </targets>

  <rules>
    <!-- Log only messages from your application's namespace -->
    <logger name="CardServConvert.*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
